body{
    background-color: rgb(53, 53, 53);
}
h1{
    color: rgb(140, 211, 167);
    text-shadow:2px 2px 0 #000, -1px -1px 0 #000,
    -1px 2px 0 #000, 2px -1px 0 #000,
    0px 1px 0 #000,  0 -1px 0 #000,
    -1px 0 0 #000, 1px 0 0 #000;
    font-family: "Hannari"; 
    font-size: 150%;
    padding-left: 30px;
}
#uma-oka{
    background: linear-gradient(to right, #f4fffc 0%, #92fcac 100%);
    padding: 10px;
    margin-bottom: 30px;
    padding-left: 30px;
    font-size: 20px;
}
#uma-oka #umaValue1,#umaValue2{
    width:30px;
    font-size: 20px;
    text-align: right;
    background-color: #b0f7b9;
}
#uma-oka #okaBefore,#okaAfter{
    width:70px;
    font-size: 20px;
    text-align: right;
    background-color: #b0f7b9;
}

#main{
    background: linear-gradient(to right, #f4fffc 0%, #92fcac 100%);
    padding: 10px;
    padding-left: 30px;
    font-size: 20px;
}
#main #Pt1,#Pt2,#Pt3,#Pt4{
    width:80px;
    text-align: right;
    font-size: 25px;
    background-color: #b0f7b9;
}
#main #calcStart{
    margin: 20px 50px;
    padding: 20px;
    background-color: rgb(22, 112, 42);
    color: white;
    font-size: 40px;
    border-radius: 60px;
}
#result{
    background: linear-gradient(to right, #f4fffc 0%, #92fcac 100%);
    padding: 10px;
    padding-left: 30px;
    margin-bottom: 110px;
}
#result p{
    font-size: 30px;
    font-family: "Hannari";
}
input{
    outline: none;
}

.line{
        border:2px solid #525252;
        border-radius: 60px;
}

footer{
    background: linear-gradient(to right, #f4fffc 0%, #92fcac 100%);
    padding: 10px;
    text-align: center;
}